.btn-airbnb {
  background-color: #FC355C;
  padding: 16px 32px;
  border-radius: 8px;
  color: white;
  transition: background-color 1s;
  display: inline-block;
}

.btn-airbnb:hover {
  background-color: #fc6a35;
}

.btn-pinterest {
  background-color: #E60023;
  padding: 18px 24px;
  border-radius: 50px;
  color: white;
}

.btn-pinterest:hover {
  opacity: 0.7;
  transition: 1s;
}